<div class="bg">
	<div class="container-fluid text-center covertxt ">
		<div class="row flex-column justify-content-center ">
			<h1>
				Welcome to Sacchon app.
			</h1>
			<p>
				In this application you can add your carbs and glycose levels and our trustworthy doctors
				will be there to diagnose you and give you a result according to the readings of your records.
			</p>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col-5  w-50">
				<h2>So, don't just stand there</h2>
				<a class="btn btn-primary mx-2" [routerLink]="['/signup']">Get Started</a>
				<a class="btn btn-primary mx-2" [routerLink]="['/login']">Log in</a>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>

