<div class="container-fluid h-100">
	<div class="row align-items-start justify-content-center h-100">
		<div class="col-12">
			<h1 class="text-white text-center">
				Welcome to Sacchon app.
			</h1>
			<div class="text-white text-center">
				In this application you can add your carbs and glycose levels and our trustworthy doctors
				will be there to diagnose you and give you a result according to the readings of your records.
			</div>
		</div>
		<div class="col-6 align-items-end mt-auto mb-5">
			<h2 class="text-white text-center">So, don't just stand there</h2>
			<div class="col-12 d-flex justify-content-center align-items-end mt-auto">
				<a class="btn btn-primary mx-2" [routerLink]="['/signup']">Get Started</a>
				<a class="btn btn-primary mx-2" [routerLink]="['/login']">Log in</a>
			</div>
		</div>
	</div>
