.container-fluid {
	background: url('../../assets/images/background.jpeg');
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
}

.row {
	background: rgba(0, 0, 0, 0.5);
}
