<div class="container-fluid h-100">
	<div class="row align-items-center justify-content-center h-100">
		<div class="row">
			<div *ngFor="let consultation of consultations"
				class="list-group-item list-group-item-action flex-column align-items-start" 
				style="background: linear-gradient(98deg, rgba(23,140,184,1) 0%, rgba(172,205,235,1) 27%, rgba(177,222,242,1) 66%, rgba(104,169,189,1) 98%);">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h4 class="card-title">Consultation</h4>
						<p class="card-text">From : {{consultationFromDate(consultation.timeCreated)}} </p>
						<p class="card-text">To : {{consultationToDate(consultation.timeCreated)}} </p>
						<p class="card-text">{{consultation.comment}} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
