<div class="d-flex flex-column justify-content-between">
	<div class="card mt-3 p-5">
		<div>
			<p class="mb-1 text-white">Start managing your</p>
			<h4 class="mb-5 text-white">Sacchon with us!</h4>
		</div>
		<button class="btn btn-primary btn-lg">
			<small>Already signed up?
				<span class="text-white">
					Log in
				</span>
			</small>
		</button>
	</div>
	<div class="card two bg-white px-5 py-4 mb-3"  [formGroup]="patientSignUp">
		<div class="form-group">
			<input required formControlName="email" type="text" class="form-control" id="mail" required>
			<label class="form-control-placeholder" for="mail">Email</label>
		</div>
		<div class="form-group">
			<input required formControlName="firstName" type="text" class="form-control" id="firstName" required>
			<label class="form-control-placeholder" for="firstName">First Name</label>
		</div>
		<div class="form-group">
			<input required formControlName="lastName" type="text" class="form-control" id="lastName" required>
			<label class="form-control-placeholder" for="lastName">Last Name</label>
		</div>
		<div class="form-group">
			<input required formControlName="password" type="password" class="form-control" id="password" required>
			<label class="form-control-placeholder" for="password">Password</label>
		</div>
		<div class="form-group">
			<input required formControlName="passwordconfirm" type="password" class="form-control" id="passwordconfirm" required>
			<label class="form-control-placeholder" for="passwordconfirm">Confirm Password</label>
		</div>
		<button class="btn btn-primary btn-block btn-lg mt-1 mb-2" (click)="signUp()">
			<span>
				Get started
				<i class="fa fa-long-arrow-alt-right ml-2"></i>
			</span>
		</button>
	</div>
</div>
