<div class="container h-100">
	<div class="row d-flex h-100 justify-content-center align-items-center">
		<div class="medi-data-repo-login">
			<div class="card">
				<div class="card-img-block">
					<img src="../../assets/images/patient.jpg" class="card-img-top" width="110" height="160">
				</div>
				<div class="card-body text-white row">
					<div class="col-12">
						<h4 class="card-title">MediDataRepo</h4>
						<h6>(Patient App)</h6>
					</div>
					<div class="d-flex align-items-end col-12">
						<a class="btn btn-block btn-primary text-light mb-1" [routerLink]="['/login/medidatarepo']">Log
							In</a>
					</div>
				</div>
			</div>
		</div>
		<div class="reporter-login">
			<div class="card">
				<div class="card-img-block">
					<img src="../../assets/images/chief-droc.jpg" class="card-img-top" width="110" height="160">
				</div>
				<div class="card-body text-white row">
					<div class="col-12">
						<h4 class="card-title">Reporter</h4>
						<h6>(Head Doctor App)</h6>
					</div>
					<div class="d-flex align-items-end col-12">
						<a class="btn btn-block btn-primary text-light mb-1" [routerLink]="['/login/reporter']">Log
							In</a>
					</div>
				</div>
			</div>
		</div>
		<div class="doctor-advice-login">
			<div class="card">
				<div class="card-img-block">
					<img src="../../assets/images/doctor2.jpg" class="card-img-top" width="110" height="160">
				</div>
				<div class="card-body text-white row">
					<div class="col-12">
						<h4 class="card-title">DoctorAdvice</h4>
						<h6>(Doctor App)</h6>
					</div>
					<div class="d-flex align-items-end col-12">
						<a class="btn btn-block btn-primary text-light mb-1" [routerLink]="['/login/doctoradvice']">
							Log In</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
