<div class="container">
	<div class="row justify-content-center">
		<div class="col-12">
			<h1 class="text-center">This is a wip page that will implement proper options for logging in and descriptions.</h1>
			<h5 class="text-center">For now the available options are just to navigate through the various subsystems.</h5>
		</div>
		<div class="col-4 py-3 my-3">
			<a class="btn btn-primary" [routerLink]="['/medidatarepo']">MediDataRepo(patient app)</a>
		</div>
		<div class="col-4 py-3 my-3">
			<a class="btn btn-primary" [routerLink]="['/doctoradvice']">DoctorAdvice(doctor app)</a>
		</div>
		<div class="col-4 py-3 my-3">
			<a class="btn btn-primary" [routerLink]="['/reporter']">Reporter(Head doctor app)</a>
		</div>
	</div>
</div>
