<div class="d-flex flex-column justify-content-between align-items-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-6">
				<div class="card bg-light" style="width: 20rem;">
					<div class="card-body">
						<h5 class="card-title text-center">Sign up as Doctor</h5>
						<form class="py-3" [formGroup]="doctorSignUp">
							<div class="form-group">
								<input placeholder="Email" required formControlName="email" type="text" class="my-3 form-control" id="mail"
									required>
								<input placeholder="First name" required formControlName="firstName" type="text" class="my-3 form-control"
									id="firstName" required>
								<input placeholder="Last name" required formControlName="lastName" type="text" class="my-3 form-control"
									id="lastName" required>
								<input placeholder="Password" required formControlName="password" type="password" class="my-3 form-control"
									id="password" required>
								<input placeholder="Confirm Password" required formControlName="passwordconfirm" type="password" class="my-3 form-control"
									id="passwordconfirm">
							</div>
							<button class="btn btn-primary btn-block"
								(click)="signUp()">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
