<footer class="site-footer footer navbar-fixed-bottom">
	<div class="container">
		<div class="row">

			<div class="col-xs-6 col-md-3" >
				<h3 style="left: -5%;">Alexandros Kalaitzidis</h3>
				<ul class="social-icons">
					<li><a class="facebook" href="https://www.facebook.com/ellftw" target="_blank" rel="noopener noreferrer"><em class="fa fa-facebook"></em></a></li>
					<li><a class="github" href="https://github.com/alexkala1" target="_blank" rel="noopener noreferrer"><em class="fa fa-github"></em></a></li>
					<li><a class="linkedin" href="#" target="_blank" rel="noopener noreferrer"><em class="fa fa-linkedin"></em></a></li>
					<li><a class="instagram" href="#" target="_blank" rel="noopener noreferrer"><em class="fa fa-instagram"></em></a></li>
				</ul>
			</div>

			<div class="col-xs-6 col-md-3">
				<h3 style="left: 2%;">Athanasios Tsianis</h3>
				<ul class="social-icons">
					<li><a class="facebook" href="https://www.facebook.com/thanos.tsianis" target="_blank" rel="noopener noreferrer"><em class="fa fa-facebook"></em></a></li>
					<li><a class="github" href="https://github.com/atsianis" target="_blank" rel="noopener noreferrer"><em class="fa fa-github"></em></a></li>
					<li><a class="linkedin" href="#" target="_blank" rel="noopener noreferrer"><em class="fa fa-linkedin"></em></a></li>
					<li><a class="instagram" href="#" target="_blank" rel="noopener noreferrer"><em class="fa fa-instagram"></em></a></li>
				</ul>
			</div>

			<div class="col-xs-6 col-md-3">
				<h3 style="left: 8%;">Michail Koptsis</h3>
				<ul class="social-icons">
					<li><a class="facebook" href="https://www.facebook.com/mixalis10/" target="_blank" rel="noopener noreferrer"><em class="fa fa-facebook"></em></a></li>
					<li><a class="github" href="https://github.com/mixailkop10" target="_blank" rel="noopener noreferrer"><em class="fa fa-github"></em></a></li>
					<li><a class="linkedin" href="https://www.linkedin.com/in/mkoptsis/" target="_blank" rel="noopener noreferrer"><em class="fa fa-linkedin"></em></a></li>
					<li><a class="instagram" href="https://www.instagram.com/mix.kop/" target="_blank" rel="noopener noreferrer"><em class="fa fa-instagram"></em></a></li>
				</ul>
			</div>

			<div class="col-xs-6 col-md-3">
				<h3 style="left: -7%;">Michail Chatziparaskevas</h3>
				<ul class="social-icons">
					<li><a class="facebook" href="https://www.facebook.com/mixalis.xtz" target="_blank" rel="noopener noreferrer"><em class="fa fa-facebook"></em></a></li>
					<li><a class="github" href="https://github.com/mich-ch" target="_blank" rel="noopener noreferrer"><em class="fa fa-github"></em></a></li>
					<li><a class="linkedin" href="#" target="_blank" rel="noopener noreferrer"><em class="fa fa-linkedin"></em></a></li>
					<li><a class="instagram" href="#" target="_blank" rel="noopener noreferrer"><em class="fa fa-instagram"></em></a></li>
				</ul>
			</div>

		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12">
				<p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
					<a href="#">Sacchon-19</a> #TEAM 3#
				</p>
			</div>
		</div>
	</div>
</footer>
