.site-footer {
	
	padding: 20px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: white;
	background: linear-gradient(90deg, rgba(0,32,36,1) 0%, rgba(9,54,121,1) 7%, rgba(0,176,255,1) 100%)
}

.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5
}

.site-footer hr.small {
	margin: 20px 0
}

.site-footer h3 {
	color: whitesmoke;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 1px
}

.site-footer a {
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}

.site-footer a:hover {
	color: #ccc;
	transition: .2s;
	text-decoration: none;
}

.site-footer .social-icons {
	text-align: left
}

.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #5777DE
}

.copyright-text {
	margin: 0
}

@media (max-width:991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px
	}
}

@media (max-width:767px) {
	.site-footer {
		padding-bottom: 0
	}

	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center
	}
}

.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}

.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 13px
}

.social-icons a {
	background-color: #eceeef;
	color: #ccc;
	font-size: 16px;
	display: block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: white;
	background-color: #29aafe
}

.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}

.social-icons a.facebook:hover {
	background-color: #3b5998
}

.social-icons a.instagram:hover {
	background: orange;
	color: whitesmoke;
  }

.social-icons a.linkedin:hover {
	background-color: #007bb6
}

.social-icons a.github:hover {
	background-color: #333
}

@media (max-width:767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600
	}
}
