<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title text-center">Doctor profile
						<br>
						<br>
						<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_299586.png&f=1&nofb=1"
							alt="" width="100" height="100">
					</h5>
					<div class="row align-items-start py-5">
						<!-- WIP: Get data from local storage -->
						<div class="col-6"><strong>Name:</strong></div>
						<div class="col-6">asd</div>
						<div class="col-6"><strong>Surname:</strong></div>
						<div class="col-6">asd</div>
						<div class="col-6"><strong>Email:</strong></div>
						<div class="col-6">asd@asd.asd</div>
						<div class="col-6"><strong>Gender</strong></div>
						<div class="col-6">Male</div>
					</div>
					<div class="row align-items-start py-5">
						<a [routerLink]="['/doctoradvice/profile/edit']" class="btn btn-block btn-primary my-2 mx-2">Edit Profile</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
						class="table table-striped table-bordered" style="width:100%">
						<thead>
							<tr>
								<th>firstName</th>
								<th>lastName</th>
								<th>email</th>
								<th>dob</th>
								<th>canBeExamined</th>
								<th>gender</th>
								<th>lastActive</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let patient of patients" [routerLink]="['/doctoradvice/patient/', patient.id]">
								<td>{{ patient.firstName }}</td>
								<td>{{ patient.lastName }}</td>
								<td>{{ patient.email }}</td>
								<td>{{ patient.dob }}</td>
								<td>{{ patient.canBeExamined }}</td>
								<td>{{ patient.gender }}</td>
								<td>{{ patient.lastActive }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
