<div class="container">
	<div class="row align-items-center">
		<div class="col-6">
			<div class="card bg-light" style="width: 20rem;">
				<div class="card-body">
					<h5 class="card-title text-center py-2">Sign in as Patient</h5>
					<form class="py-3" [formGroup]="patientLoginForm">
						<div class="form-group">
							<input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							<input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<button class="btn btn-primary btn-block" (click)="submitLogin(patientLoginForm.value)">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>