<form class="needs-validation" novalidate>
	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label for="validationCustom01">First name</label>
			<input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark"
				required>
		</div>
		<div class="col-md-4 mb-3">
			<label for="validationCustom02">Last name</label>
			<input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto"
				required>
		</div>
		<div class="col-md-4 mb-3">
			<label for="validationCustomEmail">Email</label>
			<div class="input-group">
				<input type="text" class="form-control" id="validationCustomEmail" placeholder="Email"
					aria-describedby="inputGroupPrepend" required>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6 mb-3">
			<label for="validationCustom03">Gender</label>
			<input type="text" class="form-control" id="validationCustom03" placeholder="Gender" required>
		</div>
		<div class="col-md-3 mb-3">
			<label for="validationCustom04">Date of birth</label>
			<input type="text" class="form-control" id="validationCustom04" placeholder="Date of birth" required>
		</div>
		<div class="col-md-3 mb-3">
			<label for="validationCustom05">Change Password</label>
			<input type="text" class="form-control" id="validationCustom05" placeholder="Change Password" required>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Save</button>
</form>
