	<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Height</th>
				<th>Mass</th>
				<th>Hair_color</th>
				<th>Skin_color</th>
				<th>Eye_color</th>
				<th>Birth_year</th>
				<th>Gender</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let doctor of doctors">
				<td>{{ doctor.name }}</td>
				<td>{{ doctor.height }}</td>
				<td>{{ doctor.mass }}</td>
				<td>{{ doctor.hair_color }}</td>
				<td>{{ doctor.skin_color }}</td>
				<td>{{ doctor.eye_color }}</td>
				<td>{{ doctor.birth_year }}</td>
				<td>{{ doctor.gender }}</td>
			</tr>
		</tbody>
	</table>
