<div class="container-fluid h-100">
	<div class="row align-items-center justify-content-center h-100">
		<form [formGroup]="addPatientRecord">
			<div class="form-row">
				<div class="col">
					<label for="glycose">Glycose</label>
					<input type="text" class="form-control" formControlName="glycose" id="glycose">
				</div>
				<div class="col">
					<label for="carbs">Carbs</label>
					<input type="text" class="form-control" formControlName="carbs" id="carbs">
				</div>
				<button class="btn btn-block btn-primary my-2" (click)="submitRecord()">Submit</button>
			</div>
		</form>
	</div>
</div>
