<div class="container-fluid">
	<div class="row justify-content-center py-3 align-items-stretch">
		<div class="col-3">
			<div class="card h-100" name="chief-details">
				<div class="card-body">
					<h5 class="card-title text-center">Reporter profile
						<br>
						<br>
						<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_299586.png&f=1&nofb=1"
							alt="" width="100" height="100">
					</h5>
					<div class="row align-items-start py-5">
						<div class="col-6"><strong>Name:</strong></div>
						<div class="col-6">SADIO</div>
						<div class="col-6"><strong>Surname:</strong></div>
						<div class="col-6">MANE</div>
						<div class="col-6"><strong>Email:</strong></div>
						<div class="col-6">mane@gmail.com</div>
					</div>
					<div class="row align-items-center">
						<button href="reporter/edit" class="btn btn-block btn-primary my-2 mx-2">Edit Profile</button>
						<div class="btn-group" style="left: 8%;">
							<button href="reporter/allpatients" class=" btn-primary my-2 mx-2" style="padding-inline-start: 8%; padding-inline-end: 8%;">Patients DB</button>
							<button href="reporter/alldoctors" class=" btn-primary my-2 mx-2" style="padding-inline-start: 8%; padding-inline-end: 8%;">Doctors DB</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="row justify-content-center align-items-stretch">
				<div class="col-6 py-3">
					<div class="card h-100">
						<div class="card-header chief-doctor-doctors-card">
							Inspect Doctors
						</div>
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								In this section you can view the doctors of the platform.
								You can inspect their consultations and you can check their
								activity in the platform
							</p>
							<a href="reporter/doctors" class="btn btn-primary btn-block">See the list</a>
						</div>
					</div>
				</div>
				<div class="col-6 py-3">
					<div class="card h-100">
						<div class="card-header chief-doctor-patients-card">
							Inspect Patients
						</div>
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">Help by watching the list of the patients, find if they
								need a consultation and monitor if they are active or what their personal monitor
								data are.
							</p>
							<a href="reporter/patients" class="btn btn-primary btn-block">See the list</a>
						</div>
					</div>
				</div>
				<div class="col-6 py-3">
					<div class="card h-100">
						<div class="card-header chief-doctor-add-doctors-card">
							Add new doctor to the system
						</div>
						<div class="card-body d-flex flex-column">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								Help the platform by adding a new doctor to the system
								so he can inspect other patients and consult them as well
							</p>
							<a href="reporter/createdoctor" class="btn btn-primary btn-block mt-auto">Add new doctor</a>
						</div>
					</div>
				</div>
				<div class="col-6 py-3">
					<div class="card h-100">
						<div class="card-header chief-doctor-inspect-inactives-card">
							Non active users
						</div>
						<div class="card-body d-flex flex-column">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								Even though we have a list for all doctors and patients we provide a list with the non
								active
								ones
								just to separate them in order to be easier to be found.
							</p>
							<a href="reporter/inactives" class="btn btn-primary btn-block mt-auto">See the list</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
