.chief-doctor-doctors-card {
	background-image: url('https://sknews.gr/images/stories/ellada/doctor-gp.jpg');
	background-size: cover;
}

.chief-doctor-add-doctors-card {
	background-image: url('https://4rai.com/images/easyblog_articles/44/physicians-reporting.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 90% 60%;
}

.chief-doctor-patients-card {
	background-image: url('https://www.frederickhealth.org/images/shutterstock_118928809[1].jpg');
	background-size: cover;
	background-position: center center;
}
