.chief-doctor-doctors-card {
	background-image: url('../../assets/images/inspect_doctors.jpg');
	background-size: cover;
}

.chief-doctor-add-doctors-card {
	background-image: url('../../assets/images/add_doctor.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 90% 60%;
}

.chief-doctor-patients-card {
	background-image: url('../../assets/images/inspect_patients.jpg');
	background-size: cover;
	background-position: center center;
}

.chief-doctor-inspect-inactives-card {
	background-image: url('../../assets/images/inspect_inactives.jpg');
	background-size: cover;
	background-position: center center;
}
