<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-3">
			<div class="card">
				<div class="card-header chief-doctor-doctors-card">
					Inspect Doctors
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">
						In this section you can view the doctors of the platform.
						You can inspect their consultations and you can check their
						activity in the platform
					</p>
					<a href="reporter/doctors" class="btn btn-primary btn-block">See the list</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<div class="card-header chief-doctor-add-doctors-card">
					Add new doctor to the system
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">
						Help the platform by adding a new doctor to the system
						so he can inspect other patients and consult them as well
					</p>
					<a href="reporter/adddoctor" class="btn btn-primary btn-block">Add new doctor</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<div class="card-header chief-doctor-patients-card">
					Inspect Patients
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">Help by watching the list of the patients, find if they
						need a consultation and monitor if they are active or what their personal monitor
						data are.
					</p>
					<a href="reporter/patients" class="btn btn-primary btn-block">See the list</a>
				</div>
			</div>
		</div>
	</div>
</div>
