<div class="container">
	<div class="row justify-content-center">
		<div class="col-12">
			<h1 class="text-center">
				This is a WIP navigation page for doctors options.
			</h1>
		</div>
		<div class="col-3">
			<a [routerLink]="['/doctoradvice/profile']" class="btn btn-primary">Sample Text</a>
		</div>
		<div class="col-3">
			<a [routerLink]="['/doctoradvice/profile']" class="btn btn-primary">Sample Text</a>
		</div>
		<div class="col-3">
			<a [routerLink]="['/doctoradvice/profile']" class="btn btn-primary">Sample Text</a>
		</div>
	</div>
</div>
